*{
    border: solid red 1px;
    box-sizing: border-box;
}

body{
    height: 100vh;
  }

.header, .footer{
    background-color: rgb(101, 101, 147);
    display: flex;
    justify-content: center;
    height: 30%;
  }

  .middle-page{
    display: flex;
    justify-content: center;
  }
  
.calculator-container{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items:center ;
}

.display{
    height: 80px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.buttons-container{
    height: 300px;
    width: 250px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items:center ;
}

.numbers-grid{
    height: 280px;
    width: 280x;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: center;
}


button{
    height: 35px;
    width: 45px;
}

#btn-0, #btn-equals{
    height: 35px;
    width: 90px;
}

#input-display{
    margin: 0;
    height: 40px;
    width: 220px;
}

#output-display{
    margin: 0;
    height: 18px;
    width: 220px;
}