/* *{
    border: solid red 1px;
    box-sizing: border-box;
} */

body{
    height: 100vh;
    margin: 0;
  }

.header, .footer{
    background-color: rgb(208, 208, 216);
    display: flex;
    justify-content: center;
    height: 20%;
  }

  .middle-page{
    background-color: rgb(208, 208, 216);
    display: flex;
    justify-content: center;
    height: 60%;
  }
  
.calculator-container{
    background-color: rgb(51, 51, 51);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    border-radius: 20px;
    box-shadow: 2px 3px 10px 1px rgba(1, 1, 1, 0.57);
}

.display{
    height: 80px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.buttons-container{
    height: 300px;
    width: 250px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items:center ;
}

.numbers-grid{
    height: 280px;
    width: 280x;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: center;
}


button{
    height: 35px;
    width: 45px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

#btn-0, #btn-equals{
    height: 35px;
    width: 90px;
}

#input-display{
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    width: 250px;
    text-align:right;
    border: solid white 2px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    border-radius:  0px 0px 10px 10px;
    white-space: normal;
    overflow: hidden;
}

input:focus{
    outline: none;
}

input:hover {
    cursor: alias;
}

#output-display{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 26px;
    width: 250px;
    border: solid white 1px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 5px;
    white-space: normal;
    overflow: hidden;
}

.numbers{
    background-color: rgb(98, 98, 98);
}

.operators{
    background-color: rgb(255, 186, 76);
    font-size: 25px;
}

.allClear, .backspace{
    background-color: rgb(151, 151, 151);
}

button:hover {
    cursor: pointer;
    filter: brightness(1.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }